    <style>
        p, li {font-size: 30px; margin: 0;padding: 0; font-color:black}
        p.small {font-size: 15px}
        body {background-color:white;}
    </style>
<body>
    <table>
        <colgroup>
            <col span="1" style="width: 340px;">
            <col span="1" style="width: 320px;">
        </colgroup>
        <tr>
            <td>
                {{ disp | safe }}
            </td>
            <td>
                {{ fcpd | safe }}
            </td>
            <td>
                <p>To submit your own code for the puzzle, type a percent sign, a space followed by the correct code in the chat. Like this <code>% BR</code></p>
                <p>If you want more information about the code, type <code>!fairychess</code> in the comments.</p>
                <p>
                The next codes in the queue are:
                <ul>
                {% for x in q %}
                    <li>{{ x["code"] }} ({{ x["user"] }})</li>
                {% endfor %}
                </ul>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="small">color and number: color of solution. circle: the number of invalid moves from this square. lock: the largest clique of the graph. Each locked tile has a different color.</p>
                <p>{{ phase }}</p>
                <p>errors: {{ heuristic }} / colors: {{ colornum }} ({{ tcolornum}})</p>
                <p>pos: {{pos}} / timeout: {{ timeout }}/ loss: {{ loss }}</p>
                <p>code: {{ code }}</p>
            </td>
            <td>
                <p>Two fields cannot have the same color if they are {{ prefixn }}reachable by the movement of {{ prefixc }}{{ text }}. What is the least possible number of colors?</p>
            </td>
            <td>
            {% if countdown > 0 %}
            <p> next slide in {{ countdown }}</>
            {% endif %}
            
            </td>
        </tr>
    </table>
</body>